@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.default-spacing {
		@apply px-5 py-3;
	}

	.text-xx {
		@apply text-[.625rem] tracking-wide;
	}

	.focus {
		@apply ring-brand-400 focus:text-white focus:ring-4 dark:ring-brand;
	}
	.focus-inline {
		@apply focus:text-brand;
	}

	.border-line {
		@apply border-t border-black/10 dark:border-gray-700/50;
	}
}

@layer base {
	body {
		@apply bg-white font-light text-gray-500 antialiased dark:bg-gray-900;
	}

	/* a {
		@apply font-semibold text-gray-300 underline-offset-4 outline-none transition hover:text-brand focus:text-brand focus:underline;
	} */

	h1 {
		@apply mb-4 text-5xl font-bold tracking-tight;
	}
	h2 {
		@apply mb-2 text-3xl font-bold tracking-tight;
	}
	h3 {
		@apply mb-2 text-2xl font-bold tracking-tight;
	}
	h4 {
		@apply mb-2 text-xl font-semibold;
	}
	h5 {
		@apply font-semibold uppercase tracking-wide;
	}
}

@layer components {
	/* 
	
	
	Forms 
	
	
	*/

	.field {
		@apply w-full;
	}
	.field .before,
	.field .after {
		@apply py-3 px-4;
	}

	.field-button {
		@apply flex items-center bg-transparent px-4 text-xs font-bold tracking-wide outline-none hover:text-gray-700 focus:text-brand-500  dark:focus:text-gray-300;
	}

	.field-icon {
		@apply text-2xl;
	}

	.field:focus-within .field-label {
		@apply text-gray-600 dark:text-gray-300;
	}
	.field:focus-within .before {
		@apply text-brand;
	}

	.field-label {
		@apply mb-2 mt-4 block font-semibold transition;
	}

	.field-input-holder > *:first-child {
		@apply rounded-l-xl;
	}
	.field-input-holder > *:last-child {
		@apply rounded-r-xl;
	}

	.field-input-holder:not(.field-disabled) {
		@apply flex w-full  rounded-xl bg-gray-300/25 font-semibold text-gray-500 ring-brand-500 transition focus-within:ring-4 hover:ring-4 dark:bg-black/75 dark:ring-brand;
	}

	.field-input-holder.field-disabled {
		@apply flex w-full  rounded-xl bg-gray-300/50 font-semibold text-gray-300  dark:bg-black/25 dark:text-gray-700;
	}
	.field-input-holder.field-disabled .field-input {
		@apply text-gray-300 dark:text-gray-700;
	}

	.field-input-holder.opaque {
		@apply bg-gray-200;
	}

	.field-input-holder.darker {
		@apply bg-gray-300/50;
	}

	.field-checkbox-holder {
		@apply mt-2 flex items-center space-x-4;
	}

	.field-checkbox-holder .field-label {
		@apply my-3;
	}

	.field-checkbox {
		@apply relative appearance-none rounded-lg bg-gray-300/25 p-3 outline-none ring-brand transition after:absolute after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:scale-90 after:rounded after:bg-brand  after:p-1.5 after:opacity-0 after:transition after:content-[""] checked:after:scale-100 checked:after:opacity-100 focus:ring-4 dark:bg-black/50;
	}

	.field-input-holder.field-error {
		@apply ring-red-500 dark:ring-red-700;
	}

	.field-input {
		@apply default-spacing w-full appearance-none bg-transparent font-normal text-gray-700 antialiased outline-none transition placeholder:text-gray-300 dark:text-gray-300 dark:placeholder:text-gray-700;
	}

	select {
		@apply outline-none;
	}

	/*
	
	
	Button
	
	
	*/

	.button {
		@apply default-spacing focus rounded-xl bg-gray-100 font-semibold tracking-wide text-gray-600 outline-none transition hover:bg-gray-200 hover:text-gray-700 focus:bg-gray-200 focus:text-gray-700 dark:bg-gray-800 dark:text-gray-300  dark:hover:bg-gray-700 dark:hover:text-white dark:focus:bg-gray-700;
	}

	.button-primary {
		@apply bg-brand text-white hover:bg-brand-700 hover:text-white focus:bg-brand-800 focus:text-white dark:bg-brand dark:text-white dark:hover:bg-brand-700 dark:hover:text-white dark:focus:bg-brand-800 dark:focus:text-white;
	}

	.button-ghost {
		@apply bg-transparent hover:bg-transparent hover:text-brand focus:bg-transparent dark:bg-transparent dark:hover:bg-transparent dark:focus:bg-transparent;
	}

	.button-small {
		@apply rounded-lg px-4 py-2 text-sm;
	}

	.button-large {
		@apply rounded-2xl px-7 py-4 text-xl;
	}

	/* Error */

	.error-banner {
		@apply rounded-lg bg-red-500 px-4 py-1  text-sm font-semibold tracking-wide text-red-100 dark:bg-red-700 dark:text-red-300;
	}

	.dropdown-content {
		@apply z-50 overflow-x-hidden rounded-lg border border-black/10  bg-gray-100/75 py-2 shadow-2xl outline-none backdrop-blur-lg dark:bg-gray-700/50;
	}
	.dropdown-content.opaque {
		@apply bg-gray-100 dark:bg-gray-900;
	}

	/* .dropdown-divider {
		@apply border-t border-black/5 dark:border-white/10;
	} */
	.dropdown-trigger {
		@apply text-gray-600 outline-none transition hover:text-gray-500 dark:text-gray-400 dark:hover:text-gray-200;
	}
	.dropdown-item {
		@apply flex cursor-pointer py-2 px-6  text-sm font-normal text-gray-700 outline-none transition hover:bg-brand hover:text-white focus:bg-brand focus:text-white dark:text-gray-300;
	}

	.dropdown-item.disabled {
		@apply default-spacing text-sm font-semibold text-gray-600 outline-none;
	}
}

.no-scroll-bars {
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll;
}

.no-scroll-bars::-webkit-scrollbar {
	display: none;
}

.post-bg {
	@apply bg-post-500 text-white transition dark:bg-post-700;
}
.post-bg-hover {
	@apply outline-none hover:bg-post-600 dark:hover:bg-post-600;
}

.reels-bg {
	@apply bg-reels-500 text-white transition dark:bg-reels-700;
}
.reels-bg-hover {
	@apply outline-none  hover:bg-reels-600 dark:hover:bg-reels-600;
}

.stories-bg {
	@apply bg-stories-500 text-white transition dark:bg-stories-700;
}
.stories-bg-hover {
	@apply outline-none  hover:bg-stories-600 dark:hover:bg-stories-600;
}

.meeting-bg {
	@apply bg-meeting-500 text-white transition dark:bg-meeting-700;
}
.meeting-bg-hover {
	@apply outline-none  hover:bg-meeting-600 dark:hover:bg-meeting-600;
}

.task-bg {
	@apply bg-task-500 text-white transition dark:bg-task-600;
}
.task-bg-hover {
	@apply outline-none  hover:bg-task-600 dark:hover:bg-task-500;
}

.tiktok-bg {
	@apply bg-tiktok-500 text-white transition dark:bg-tiktok-600;
}
.tiktok-bg-hover {
	@apply outline-none  hover:bg-tiktok-600 dark:hover:bg-tiktok-500;
}

.idea-bg {
	@apply bg-idea-500 text-white transition dark:bg-idea-600;
}
.idea-bg-hover {
	@apply outline-none  hover:bg-idea-600 dark:hover:bg-idea-500;
}

.do-bg {
	@apply bg-do-500 text-white transition dark:bg-do-700;
}
.do-bg-hover {
	@apply outline-none  hover:bg-do-600 dark:hover:bg-do-600;
}

.doing-bg {
	@apply bg-doing-500 text-white transition dark:bg-doing-700;
}
.doing-bg-hover {
	@apply outline-none  hover:bg-doing-600 dark:hover:bg-doing-600;
}

.review-bg {
	@apply bg-review-500 text-white transition dark:bg-review-700;
}
.review-bg-hover {
	@apply outline-none  hover:bg-review-600 dark:hover:bg-review-600;
}

.done-bg {
	@apply bg-done-500 text-white transition dark:bg-done-700;
}
.done-bg-hover {
	@apply outline-none  hover:bg-done-600 dark:hover:bg-done-600;
}

.accomplished-bg {
	@apply bg-accomplished-500 text-white transition dark:bg-accomplished-700;
}
.accomplished-bg-hover {
	@apply outline-none  hover:bg-accomplished-600 dark:hover:bg-accomplished-600;
}
