@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.default-spacing {
		@apply px-6 py-3;
	}

	.text-xx {
		@apply text-[.625rem] tracking-wide;
	}

	.focus {
		@apply ring-brand focus:text-white focus:ring-4;
	}
	.focus-inline {
		@apply focus:text-brand;
	}
}

@layer base {
	body {
		@apply bg-gray-900 font-light text-gray-500 antialiased;
	}

	/* a {
		@apply font-semibold text-gray-300 underline-offset-4 outline-none transition hover:text-brand focus:text-brand focus:underline;
	} */

	h1 {
		@apply mb-4 text-5xl font-bold tracking-tight;
	}
	h2 {
		@apply mb-2 text-3xl font-bold tracking-tight;
	}
	h3 {
		@apply mb-2 text-2xl font-bold tracking-tight;
	}
	h4 {
		@apply mb-2 text-xl font-semibold;
	}
	h5 {
		@apply font-semibold uppercase tracking-wide;
	}
}

@layer components {
	/* 
	
	
	Forms 
	
	
	*/

	.field {
		@apply w-full;
	}
	.field .before,
	.field .after {
		@apply py-3 px-4;
	}

	.field-button {
		@apply flex items-center bg-transparent px-4 text-xs font-bold tracking-wide outline-none hover:text-gray-500 focus:text-gray-300;
	}

	.field-icon {
		@apply text-2xl;
	}

	.field:focus-within .field-label {
		@apply text-gray-300;
	}
	.field:focus-within .before {
		@apply text-brand;
	}

	.field > *:first-child {
		@apply rounded-l-xl;
	}
	.field > *:last-child {
		@apply rounded-r-xl;
	}

	.field-label {
		@apply mb-2 mt-4 block font-semibold transition;
	}

	.field-input-holder {
		@apply flex w-full rounded-xl bg-black/50 font-semibold ring-brand/50 transition focus-within:ring-4 focus-within:ring-brand hover:bg-black/75 hover:ring-4;
	}

	.field-checkbox-holder {
		@apply mt-2 flex items-center space-x-4;
	}

	.field-checkbox-holder .field-label {
		@apply my-3;
	}

	.field-checkbox {
		@apply relative appearance-none rounded-lg bg-black/50 p-3 outline-none ring-brand transition after:absolute after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:scale-90 after:rounded  after:bg-brand after:p-1.5 after:opacity-0 after:transition after:content-[""] checked:after:scale-100 checked:after:opacity-100 focus:ring-4;
	}

	.field-input-holder.error {
		@apply ring-red-700;
	}

	.field-input {
		@apply default-spacing w-full appearance-none bg-transparent text-gray-400 outline-none transition placeholder:text-gray-700 focus:text-gray-300;
	}

	select {
		@apply outline-none;
	}

	/*
	
	
	Button
	
	
	*/

	.button {
		@apply default-spacing focus rounded-xl bg-gray-800 font-semibold tracking-wide text-gray-300 outline-none ring-brand transition hover:bg-gray-700 hover:text-white focus:bg-gray-700;
	}

	.button-primary {
		@apply bg-brand text-white hover:bg-brand-700 focus:bg-brand-800;
	}

	.button-ghost {
		@apply bg-transparent hover:bg-transparent focus:bg-transparent;
	}

	.button-small {
		@apply rounded-lg px-4 py-2 text-sm;
	}

	.button-large {
		@apply rounded-2xl px-8 py-4 text-lg;
	}

	/* Error */

	.error-banner {
		@apply rounded-lg bg-red-700  px-4 py-1 text-sm font-semibold tracking-wide text-red-300;
	}
}

.dropdown-content {
	@apply z-50  overflow-x-hidden rounded-lg border border-white/10 bg-gray-700/50 shadow-2xl outline-none backdrop-blur-lg;
}
.dropdown-content.opaque {
	@apply bg-gray-900;
}

.no-scroll-bars {
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll;
}

.no-scroll-bars::-webkit-scrollbar {
	display: none;
}

.dropdown-divider {
	@apply border-t border-white/10;
}
.dropdown-trigger {
	@apply text-gray-400 outline-none transition hover:text-gray-200;
}
.dropdown-item {
	@apply default-spacing  flex cursor-pointer text-sm font-semibold text-gray-300 outline-none transition hover:bg-brand hover:text-white focus:bg-brand focus:text-white;
}

.dropdown-item.disabled {
	@apply default-spacing text-sm font-semibold text-gray-600 outline-none;
}

.post-bg {
	@apply bg-post-600 text-white transition;
}
.post-bg-hover {
	@apply ring-post-600/50 hover:bg-post-800 focus:bg-post-800 focus:ring-2;
}
.meeting-bg {
	@apply bg-meeting-600 text-white transition;
}
.meeting-bg-hover {
	@apply ring-meeting-600/50 hover:bg-meeting-800 focus:bg-meeting-800 focus:ring-2;
}
.stories-bg {
	@apply bg-stories-600 text-white transition;
}
.stories-bg-hover {
	@apply ring-stories-600/50 hover:bg-stories-800 focus:bg-stories-800 focus:ring-2;
}
.todo-bg {
	@apply bg-todo-600 text-white transition;
}
.todo-bg-hover {
	@apply ring-todo-600/50 hover:bg-todo-800 focus:bg-todo-800 focus:ring-2;
}
.tiktok-bg {
	@apply bg-tiktok-600 text-white transition;
}
.tiktok-bg-hover {
	@apply ring-tiktok-600/50 hover:bg-tiktok-800 focus:bg-tiktok-800 focus:ring-2;
}
.idea-bg {
	@apply bg-idea-600 text-white transition;
}
.idea-bg-hover {
	@apply ring-idea-600/50 hover:bg-idea-800 focus:bg-idea-800 focus:ring-2;
}
.do-bg {
	@apply bg-do-600 text-white transition;
}
.do-bg-hover {
	@apply ring-do-600/50 hover:bg-do-800 focus:bg-do-800 focus:ring-2;
}
.doing-bg {
	@apply bg-doing-600 text-white transition;
}
.doing-bg-hover {
	@apply ring-doing-600/50 hover:bg-doing-800 focus:bg-doing-800 focus:ring-2;
}
.review-bg {
	@apply bg-review-600 text-white transition;
}
.review-bg-hover {
	@apply ring-review-600/50 hover:bg-review-800 focus:bg-review-800 focus:ring-2;
}
.done-bg {
	@apply bg-done-600 text-white transition;
}
.done-bg-hover {
	@apply ring-done-600/50 hover:bg-done-800 focus:bg-done-800 focus:ring-2;
}
.accomplished-bg {
	@apply bg-accomplished-600 text-white transition;
}
.accomplished-bg-hover {
	@apply ring-accomplished-600/50 hover:bg-accomplished-800 focus:bg-accomplished-800 focus:ring-2;
}
